<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Restaurant AssistantConnectionString" connectionString="Data Source=blackhawk147.ddns.net,8090;Initial Catalog=&quot;Restaurant Assistant&quot;;Persist Security Info=True;User ID=Guest;Password=password"
      providerName="System.Data.SqlClient" />
    <add name="Users" connectionString="Data Source=blackhawk147.ddns.net,8090;Initial Catalog=&quot;Restaurant Assistant&quot;;Persist Security Info=True;User ID=Guest;Password=password"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>